<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 m-b">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Project</h6></li>
          <li><a href="https://github.com/jsonapi-rb" target="_blank">GitHub</a></li>
          <li><a href="http://twitter.com/jsonapirb" target="_blank">Twitter</a></li>
          <li><a href="https://rubygems.org/gems/jsonapi-rb" target="_blank">Rubygems</a></li>
        </ul>
      </div>
      <div class="col-sm-3 m-b">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Community</h6></li>
          <li><a href="https://gitter.im/jsonapi-rb" target="_blank">Chat</a></li>
          <li><a href="https://stackoverflow.com/questions/tagged/jsonapi-rb" target="_blank">StackOverflow</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h6 class="text-uppercase">About</h6>
        <p>
          jsonapi-rb is a <a href="http://jsonapi.org">JSON API</a> library for
          ruby &mdash; &copy; 2016-<%= Time.now.year %>
          <a href="http://lucashosseini.com" target="_blank">Lucas Hosseini</a>.<br>
          Released under the <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.
        </p>
      </div>
    </div>
  </div>
</div>
