    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="description" content="Ruby library for efficiently building and consuming JSON API documents, with Rails and Hanami integrations.">
    <meta name="keywords" content="JSONAPI jsonapi JSON API ruby library rails hanami resources efficient">
    <link rel="icon" type="image/png" href="/images/favicon.png" />

    <title>jsonapi-rb | Efficiently build and consume JSON API documents.</title>

    <%= stylesheet_link_tag 'toolkit' %>
    <%= stylesheet_link_tag 'solarized' %>
    <%= stylesheet_link_tag 'application' %>
